button.addButton {
  border: none;
  background: transparent;
  color: rgb(19, 136, 8);
  font-size: 25px;
}

button.deleteButton {
  border: none;
  background: transparent;
  color: #dc143c;
  font-size: 25px;
}
